{% extends "griffinskitchen/layout.html" %}

{% block body %}


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="container pt-5 pb-5">
        <div id="wrapper" class="flex flex-col justify-between h-screen">
            <div class="col-sm-6">
                <h2>Login</h2>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Login">
                    </form>
               
            </div>
        </div>
    </div>


    <br>
    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}