{% extends "griffinskitchen/layout.html" %}
{% load static %}



{% block body %}

<h1>test</h1>
<!-- <input type="text" name="username" placeholder="Search for username..">&nbsp; &nbsp;
<button type="submit"><i class="fa fa-search fa-1x"></i></button> -->


    <form action="search" method="POST">
    {% csrf_token %}
        <div class="container">
        <div class="row ng-scope">
            <div class="col-md-3 col-md-push-9">
                <h4>Results For <span class="fw-semi-bold"><b>{{username}}</b></span></h4>
                <br>
             
            </div>
            <div class="col-md-9 col-md-pull-3">
                <!-- <p class="search-results-count">About 94 700 000 (0.39 sec.) results</p> -->
                
                {% for users in username_profile_list %}
                <section class="search-result-item">
                    <a class="image-link" href="/profile/{{users.user}}"><img class="image" src="{{users.profile_img.url}}">
                    </a>
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="search-result-item-heading"><a href="/profile/{{users.user}}"><b>@{{users.user}}</b></a></h4>
                                <p class="description">{{users.about}}</p>
                            </div>
                         
                        </div>
                    </div>
                </section>
                {% endfor %}
                
                
            </div>
        </div>
        </div>
    </form>

{% endblock %}